body{

    background-color: #e6f2ff;
    /* este background-color es color de fondo */
}


h1{

    color: #3687cf;
    font-size: 40px;
    text-align: center; 
    /* esto mueve el texto al centro */
}

p{
    font-family: Arial, sans-serif;
    /* aqui le pones el tipo de letra */
    font-size: 20px;
    color: #333333;

}

img{
    border-radius: 20px;
    /* aqui se redondea las esquinas */
    border: 4px solid #003366;
    /* dibuja un marco alrededor de la imagen */ 


}

a{
    color: #ff6600;

    text-decoration: none;
    /* le quita la linea de subrayado */
    font-weight: bold;
    /* la pone como en negrilla  */
}

div {
  background-color: #ffffff; /* Pintamos la caja de color blanco puro */
  padding: 20px; /* con esto se le da espacio para que no toque los bordes  */
  margin: 20px; /* con este es para que no pegue con otras cajas  */
  border-radius: 15px; /* Redondeamos las esquinas de la caja para que combine  */

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  /* con este le agregamos sombra a las cajas  */

}

/* con este le damos animacion para cuandp pase el cursor cambbie de color  */
a:hover {
  color: #ffffff; /* La letra se vuelve blanca */
  background-color: #ff6600; /* Le ponemos un fondo naranja */
  padding: 5px 10px; /* Le damos espacio interno para que parezca un botón */
  border-radius: 8px; /* Redondeamos las esquinas de ese nuevo botón */
}
